.row {
    display: flex;
    align-items: baseline;
}

.row h2 {
    margin: 0 10px 0 0;
}

.row p {
    margin: 10px;
}

.deleteBtn {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
